<div class="movie-form">
  <h2># Ajouter ou modifier un film</h2>
  <form id="movieForm">
    <input type="text" id="name" placeholder="Titre" required>
    <input type="text" id="director" placeholder="Réalisateur" required>
    
    <input type="number" id="year" placeholder="Année (ex: 2024)" min="1895" max="2030" required>
    
    <input type="number" id="length" placeholder="Durée (minutes)" min="1" required>
    
    <textarea id="description" placeholder="Description"></textarea>
    
    <input type="text" id="image" placeholder="Nom de l'image (ex: poster.jpg)">
    <input type="url" id="trailer" placeholder="URL Trailer (Youtube)">
    
    <input type="number" id="min_age" placeholder="Âge minimum" min="0" max="18">

    <select id="id_category">
      <option value="1">Action</option>
      <option value="2">Comédie</option>
      <option value="3">Drame</option>
      <option value="4">Animation</option>
      <option value="5">Thriller</option>
    </select>

    <button type="submit">Update</button>
  </form>
</div>