<div class="profile-form">
    <h2># Ajouter un profil utilisateur</h2>
    <form id="profileForm">
        <input type="text" id="p_name" placeholder="Nom du profil" required>
        <input type="text" id="p_avatar" placeholder="Nom de l'avatar (ex: avatar1.png)">
        <label for="p_age">Restrictions d'âge :</label>
        <select id="p_age">
            <option value="0">0 (Tous publics)</option>
            <option value="12">12+</option>
            <option value="16">16+</option>
            <option value="18">18+</option>
        </select>
        <button type="submit">Créer le profil</button>
    </form>
</div>